<ion-view view-title="Playlist">
  <ion-content>
    <h1>Maharashtra: New crop pattern for drought-hit districts</h1>
	
	
	<div class="list card">

	  <div class="item item-avatar">
		<img src="mcfly.jpg">
		<h2>Marty McFly</h2>
		<p>November 05, 1955</p>
	  </div>

	  <div class="item item-body">
		<img class="full-image" ng-src="http://media.indiatimes.in/media/content/2016/Apr/447156-watercrisis_1460784916.jpg">
		<p> The state government is promoting crop patterns suitable to drought-hit Marathwada and Vidarbha regions, and is roping in agriculture research council and universities to provide crops with shorter life-cycle to sustain agriculture in the dry belt. Apart from crops like cotton, sugarcane, jowar and tur dal (pulses), there is emphasis on promoting horticulture and floriculture under controlled water and temperature technology to ensure assured income for farmers. ...</p>
		<p>
		  <a href="#" class="subdued">1 Like</a>
		  <a href="#" class="subdued">5 Comments</a>
		</p>
	  </div>

	</div>
  </ion-content>
</ion-view>
