<ion-view view-title="{{screenTitle}}">
  
  <ion-content lazy-scroll>

	<ion-refresher on-refresh="doRefresh()">
                     
    </ion-refresher>
    <ion-list >
	  <ion-item collection-repeat="playlist in playlists[category]"
            class="item-thumbnail-left" href="#/app/news/{{category}}/{{playlist.id}}">

		<img image-lazy-src="{{playlist.multimedia[0].url}}" image-lazy-loader="lines" image-lazy-distance-from-bottom-to-load="500">
		<h2 class="title-no-wrap">{{playlist.title}}</h2>
		<p>{{playlist.byline}}</p>
		<p>{{playlist.abstract}}</p>
		<p> <span ng-show="playlist.item_type" class ="button button-outline button-small button-{{settings.defaultTheme}}">{{playlist.item_type}}</span>
			<span ng-show="playlist.section" class ="button button-outline button-small button-{{settings.defaultTheme}}">{{playlist.section}}</span>
			<span ng-show="playlist.subsection" class ="button button-outline button-small button-{{settings.defaultTheme}}">{{playlist.subsection}}</span>		
		</p>
		<ion-option-button class="button-positive"
						   ng-click="share(playlist)">
		  <i class="ion-android-share-alt"></i> Share
		</ion-option-button>
		<ion-option-button class="button-assertive"
						   ng-click="edit(playlist)">
		  <i class="ion-android-mail"></i> Read later
		</ion-option-button>
		<ion-delete-button class="ion-minus-circled"
						   ng-click="playlist.splice($index, 1)">
		</ion-delete-button>
		<ion-reorder-button class="ion-navicon"
							on-reorder="reorderItem(item, $fromIndex, $toIndex)">
		</ion-reorder-button>

	  </ion-item>
    </ion-list>
	<ion-infinite-scroll
		on-infinite="loadMoreNewsItems()"
		distance="1%">
	  </ion-infinite-scroll>
  </ion-content>
</ion-view>
