
<ion-view view-title="NewsApp">

  <ion-content>
  <form ng-submit="doSearch()">
	  <div class="bar bar-header item-input-inset">
		  <label class="item-input-wrapper">
			<i class="icon ion-ios-search placeholder-icon"></i>
			<input type="search" placeholder="Search keywords, text..." ng-model="search.text" >
		  </label>
		  <span class="button button-small button-outline button-{{settings.defaultTheme}}" ng-click="clearSearchText()">
			Cancel
		  </span>
		</div>
	</form>
    <ion-list >
	  <ion-item ng-repeat="playlist in playlists"
            class="item-thumbnail-left" href="#/app/playlists/{{playlist.id}}">

		<img ng-src="{{playlist.imgURL}}">
		<h2>{{playlist.title}}</h2>
		<p>{{playlist.author}}</p>
		<p>{{playlist.description}}</p>
		<p> </p>
		<ion-option-button class="button-positive"
						   ng-click="share(playlist)">
		  Share
		</ion-option-button>
		<ion-option-button class="button-assertive"
						   ng-click="edit(playlist)">
		  Edit
		</ion-option-button>
		<ion-delete-button class="ion-minus-circled"
						   ng-click="playlist.splice($index, 1)">
		</ion-delete-button>
		<ion-reorder-button class="ion-navicon"
							on-reorder="reorderItem(item, $fromIndex, $toIndex)">
		</ion-reorder-button>

	  </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
