<ion-view view-title="Playlist">
  <ion-content>
    <h1>{{newsItem.title}}</h1>
	
	
	<div class="list card">

	  <div class="item item-avatar">
		<img src="mcfly.jpg">
		<h2>{{newsItem.author}}</h2>
		<p>{{ newsItem.timestamp |  date:'yyyy-MM-dd' }}  </p>
	  </div>

	  <div class="item item-body">
		<img class="full-image" ng-src="{{newsItem.imgURL}}">
		<p> {{newsItem.description}}</p>
		<p>
		  <a href="#" class="subdued">1 Like</a>
		  <a href="#" class="subdued">5 Comments</a>
		</p>
	  </div>

	</div>
  </ion-content>
</ion-view>
