<ion-view view-title="Read News">
  <ion-content>
    
	
	
	<div class="list card">

	  <div class="item">
		<h2>{{newsItem.headline.main + " " +newsItem.headline.name}}</h2>
		<h2>{{newsItem.byline.original}}</h2>
		<p ng-show="newsItem.geo_facet[0]">{{ newsItem.geo_facet[0] }}  </p>
		<p>{{ newsItem.pub_date |  date:'yyyy-MM-dd' }}  </p>
	  </div>

	  <div class="item item-body">
		<img ng-show="newsItem.xlargeimage" class="full-image" ng-src="{{newsItem.xlargeimage}}">
		<p> {{newsItem.lead_paragraph}}</p>
		<p>
		  <a href="#" class="subdued">1 Like</a>
		  <a href="#" class="subdued">5 Comments</a>
		</p>
	  </div>

	</div>
  </ion-content>
</ion-view>
